:root {
  --main-bg-color: #fff;
  --sidebar-color: #aaa;
  --sidebar-width: 250px;
  --page-width: 1200px;
  --color-dark: #dee;
}

.navbar {
  background-color: var(--main-bg-color);
}

nav a {
  color: #000;
  padding: 30px 20px;
  vertical-align: text-bottom;
  position: relative;
  top: -14px;
}

#mainMenu {
  display: inline-block !important;
}

nav form.form-inline {
  display: inline-block;
  float: right;
  padding-top: 11px;
}

.inner {
  width: var(--page-width);
  margin: 0 auto;
}

nav button, nav .btn-outline-success {
  border:1px solid #000;
  background-color: rgba(0,0,0,0.5);
  color:#ddd;
}


nav .btn-outline-success:hover , 
nav .btn-outline-success:active {
  background-color: rgba(200,200,200,0.5);
  border:1px solid #fff;
}

#main {
  margin-top: 117px;
  background: #fff;
  background: #fffa;
  min-height: CALC( 100vh - 150px );
  padding-top: 15px;
}

body {
  background: url(/assets/images/bg.png);
  direction: rtl;
}
body * {
  text-align: right;
}
.fixed-top {
  box-shadow: 0 0 10px #9999;
}

a.logo {
  position: relative;
  top: 1px;
}

.field.field-image {
  float:right;
}

#main .field-image img {
  max-width:300px;
  max-height: 500px;
  margin: 0 0 50px 50px
}